* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
.container {
    max-width: 1100px;
    margin: auto;
}
.header {
    background-color: #1f2937;
    color: white;
    padding-bottom: 30px;
}
.nav-list a {
    color: white;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}

.nav-list {
    display: flex;
    gap: 15px;
}

.hero {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
}

.hero-title {
    font-size: 48px;
}

.hero-img {
    height: 300px;
    border-radius: 5px;
}

.hero-text {
    padding: 20px 0px;
}

.hero input {
    color: white;
    font-weight: 700;
    background-color: #3882f6;
    border: none;
    padding: 10px 35px;
    border-radius: 5px;
}

/* ---------------------------------------------------------------------------- */

.inform-title {
    display: flex;
    justify-content: center;

    margin: 40px 0px;
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;
}

.inform-card-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 70px;
}

.inform-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inform-img {
    width: 170px;
    height: 170px;
    border: 3px solid #3882f6;
    border-radius: 15px;
    margin-bottom: 20px;
}

.img-description {
    text-align: center;
}

/* ---------------------------------------------------------------------------------------- */

.opinion {
    background-color: #e5e5eb;
}

.opinion-text {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
    padding-top: 40px;
}

.post-script {
    display: flex;
    flex-direction: row-reverse;
    font-weight: bold;
    padding: 20px 0;
}

/* ------------------------------------------------------------------------------------------- */

.banner-action {
    background-color: #3882f6;
    margin: 50px 0;
    padding: 50px;
    border-radius: 15px;
    color: white;

    display: flex;
    justify-content: space-around;
}

.banner-action input {
    color: white;
    font-weight: 700;
    background-color: #3882f6;
    border: 4px solid white;
    padding: 10px 35px;
    border-radius: 10px;
}

/* ----------------------------------------------------------------------------------------------- */

.footer {
    color: white;
    display: flex;
    justify-content: center;
    padding: 30px 0;
    background-color: #1f2937;
}